/* 
---------
!RESET
---------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
------------
!TYPOGRAPHY
------------
*/
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
}
h1 {
  font-size: 3.75rem;
}
h2 {
  font-size: 3.125rem;
}
h3 {
  font-size: 2.1875rem;
}
p {
  font-size: 20px;
  line-height: 40px;
}

/*
----------
!PALETTE
----------
bottone scuro/testo bottone bianco: #23272a
bottone blu, testo footer blu: #7289da
top-header: #255ee9
sfondo sezione grigia: #d3d3d3
sfondo footer: #23272a
*/

/*
---------
!COMMON
---------
*/
.container {
  margin: 0 auto;
  width: 78.125rem;
}
.reverse {
  flex-direction: row-reverse;
}

.block,
.big-block,
.fblock1,
.fblock2,
nav {
  display: flex;
}
/* ?bottoni */
.button {
  display: flex;
  padding: 0.9375rem;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}
.white {
  background-color: white;
}
.black {
  background-color: #23272a;
}
.white a {
  color: #23272a;
}
.black a {
  color: white;
}
.blue {
  background-color: #7289da;
}
.blue a {
  color: white;
}
/*
---------
!HEADER
---------
*/
header {
  color: white;
}

/* ?header top */
header .header-top {
  display: flex;
  align-items: center;
  background-color: #255ee9;
  padding-top: 2.1875rem;
}
.header-top nav .logo,
.header-top nav .login,
.header-top nav .link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-top .logo,
.header-top .login {
  flex-grow: 1;
}
.header-top nav .link {
  flex-grow: 3;
}
.header-top nav .link ul li {
  display: inline;
  margin: 2.5rem;
}

/* ?header bottom */
header .header-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/jumbo.png);
  background-size: cover;
  padding-top: 11.5625rem;
  padding-bottom: 7.5rem;
}
.header-bottom .jumbo {
  width: 59.0625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.header-bottom .jumbo h1 {
  margin-bottom: 3.4375rem;
}
.header-bottom .jumbo p {
  margin-bottom: 1.5625rem;
}
.header-bottom .jumbo .white {
  margin-right: 1.25rem;
}
/*
-------
!MAIN
-------
*/

/* ?section */
main section {
  padding: 145px 0 145px 0;
}
section.grey {
  background-color: #d3d3d3;
}

/* ?section normale */
section .block {
  align-items: flex-start;
}
section .block .image {
  flex-grow: 1.5;
}
section .block .text {
  flex-grow: 1;
  padding: 1.5625rem 3.125rem 0 3.125rem;
}
section .block .text h2 {
  margin-bottom: 3.125rem;
}

/* ?section grande */
section .big-block .big-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
section .big-block .big-text h2 {
  margin-bottom: 3.4375rem;
}
section .big-block .big-text img {
  width: 100%;
  display: block;
}
section .big-block .big-text h3 {
  width: 100%;
  margin-bottom: 4.0625rem;
}
/*
---------
!FOOTER 
---------
*/

footer {
  background-color: #23272a;
  color: white;
}

/* ?footer top */
footer .footer-top {
  padding: 5.625rem 2.8125rem 0;
}
footer .footer-top .fblock1 {
  border-bottom: 2px solid #7289da;
}
.footer-top .fblock1 .utility {
  flex-grow: 1;
}
.footer-top .fblock1 .utility h3 {
  margin-bottom: 1.875rem;
  color: #7289da;
}
.footer-top .fblock1 .utility .language {
  margin-bottom: 1.5625rem;
}
.footer-top .fblock1 .utility .language img {
  height: 1rem;
}
.footer-top .fblock1 .utility .socials i {
  color: white;
  margin-right: 1.5625rem;
}
.footer-top .fblock1 .info {
  display: flex;
  flex-grow: calc(7 / 3);
}
.footer-top .fblock1 .info .column {
  width: calc(100% / 4);
  padding-left: 5.625rem;
}
.footer-top .fblock1 .info .column ul:first-child {
  color: #7289da;
}
.footer-top .fblock1 .info .column ul li {
  margin-bottom: 1.875rem;
}

/* ?footer bottom */
footer .footer-bottom {
  padding: 1.875rem 0 3.75rem 0;
}
.footer-bottom .fblock2 {
  align-items: center;
  justify-content: space-between;
}
